$my-primary-500: #c5985d;
$my-accent-500: #1e2f49;


$my-primary: (
  50 : #f8f3ec,
  100 : #eee0ce,
  200 : #e2ccae,
  300 : #d6b78e,
  400 : #cea775,
  500 : #c5985d,
  600 : #bf9055,
  700 : #b8854b,
  800 : #b07b41,
  900 : #a36a30,
  A100 : #fff4ea,
  A200 : #ffd9b7,
  A400 : #ffbf84,
  A700 : #ffb16a,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-accent: (
    50 : #e4e6e9,
    100 : #bcc1c8,
    200 : #8f97a4,
    300 : #626d80,
    400 : #404e64,
    500 : #1e2f49,
    600 : #1a2a42,
    700 : #162339,
    800 : #121d31,
    900 : #0a1221,
    A100 : #608fff,
    A200 : #2d6bff,
    A400 : #0049f9,
    A700 : #0042e0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);