@import '~@angular/material/theming';
@import 'colors';

@include mat-core();

$my-theme-primary: mat-palette($my-primary, 500);
$my-theme-accent: mat-palette($my-accent);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);
