@import '../../../../assets/styles/main';

$start-breakpoint: 961px;

.profile {
    width: 60%;
    padding-top: 5px;
    padding-left: 20px;
    &__header {
        margin: 10px;
        mat-label {
            font-size: 13px;
            font-weight: bold;
        }
    }

    @include media($start-breakpoint) {
        & {
            width: 100%;
        }
    }
}

hr {
    @include media($start-breakpoint) {
        & {
            width: 97%;
        }
    }
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    font-size: 22px;
    font-weight: 500;
    img {
      margin: 0 10px 0 0;
    }
}