@import '../../../../../assets/styles/main';

$start-breakpoint: 961px;

:host {
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    width: 23%;
    height: 76vh;

    @include media($start-breakpoint) {
        & {
            margin-right: 0px;
            width: 0;
        }
    }
}

label {
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}

.mat-list-item {
    font-size: 12px !important;
}

a {
    transition: all 0.1s !important;
    position: relative;
    &:hover, &:active {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        background-color: $my-primary-500 !important;
        color: white !important;
        fa-icon {
            display: inherit;
        }
    }
}

fa-icon {
    position: absolute;
    right: 9px;
    display: none;
}

