<div class="user-form" 
     fxLayout="column" 
     fxLayoutAlign="center center">

    <form [formGroup]="form" 
          fxLayout="column" 
          fxLayoutAlign="center">

        <div class="form__firstname" 
             fxLayout="row" 
             fxLayoutAlign="start center" 
             fxLayoutAlign.lt-md="center center">
          <mat-label>First Name</mat-label>
          <mat-form-field>
              <input matInput formControlName="firstName" type="text">
          </mat-form-field>
        </div>
        <!-- end of .form__firstname -->
        <div class="horizontal"></div>

        <div class="form__lastname" 
             fxLayout="row" 
             fxLayoutAlign="start center" 
             fxLayoutAlign.lt-md="center center">
            <mat-label>Last Name</mat-label>
          <mat-form-field>
              <input matInput formControlName="lastName" type="text">
          </mat-form-field>
        </div>
        <!-- end of .form__lastname -->
        <div class="horizontal"></div>

        <div class="form__email" 
             fxLayout="row" 
             fxLayoutAlign="start center" 
             fxLayoutAlign.lt-md="center center">
            <mat-label>Email</mat-label>
          <mat-form-field>
              <input matInput formControlName="email" type="text">
          </mat-form-field>
        </div>
        <!-- end of .form__email -->
        <div class="horizontal"></div>

        <div class="form__employer" 
             fxLayoutAlign="start center" 
             fxLayoutAlign.lt-md="center center">
            <mat-label>Employer</mat-label>
            <select formControlName="employer">
              <option *ngFor="let employer of employers" [value]="employer.id">
                {{employer.organizationName}}
              </option>
            </select>
        </div>
        <!-- end of .form__employer -->
        <div class="horizontal"></div>

        <div class="form__rto"  
             fxLayoutAlign="start center" 
             fxLayoutAlign.lt-md="center center">
            <mat-label>RTO</mat-label>
            <select formControlName="rto">
              <option *ngFor="let rto of rtos" [value]="rto.id">
                {{rto.organizationName}}
              </option>
            </select>
        </div>
        <!-- end of .form__rto -->

        <div class="horizontal"></div>
        
    </form>

    <div class="form-event"  fxLayout="row" fxLayoutAlign="center center">
         <button mat-raised-button color="primary"
                    (click)="updateEmployee()">Update</button>
    </div>
    <!-- end of .form-event -->
</div>
<!-- end of .user-form -->