@import '../../../../../assets/styles/main';

$start-breakpoint: 961px;
$start-breakpoint-718px: 718px;

:host {
    width: 100%;
}

.user-form {
    height: 63vh;

    @include media($start-breakpoint) {
        & {
            width: 100%;
        }
    }
}
// end of .user-form

form {
    width: 80%;
}
// end of form
mat-form-field {
    width: 50%;
    @include media($start-breakpoint-718px) {
        & {
            width: 100%;
        }
    }
}
// end of mat-form-field
mat-label {
    width: 30%;
    font-size: 13px;
}
// end of mat-label
select {
    font-size: 14px;
    width: 50%;
    background-color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(128, 125, 125);
    padding: 3px;
    color: rgb(95, 95, 95);
    @include media($start-breakpoint-718px) {
        & {
            width: 100%;
        }
    }
}
// end of .select
.form__employer, .form__rto {
    padding-top: 20px;
    padding-bottom: 20px;
}
// end of .form__employer, .form__rto
.horizontal {
    border-bottom: 1px solid rgb(194, 194, 194);
    width: 82%;
    @include media($start-breakpoint) {
        & {
            margin-left: 53px;
        }
    }

    @include media($start-breakpoint-718px) {
        & {
            display: none;
        }
    }
}
// end of .horizontal
.form-event {
    margin-top: 5px;
    margin-left: 15px;

    button {
        color: white;
    }
}
// end of ..form-event