<div class="qualifation-form"
     fxLayout="column" 
     fxLayoutAlign="center start"
     fxLayoutAlign.lt-md="center center">

     <mat-label>Qualification</mat-label>

     <form [formGroup]="form">
        <div class="qualifation-list" formArrayName="qualifications">
            <div *ngFor="let item of qualificationsList.controls; index as i;"
                 fxLayout="row" fxLayoutAlign="space-around center">
                <span>{{item.value.name}}</span>
                <button mat-stroked-button (click)="removeQualificationsList(i)">Remove</button>
            </div>
            <hr *ngIf="qualificationsList.controls.length">
        </div>
        <!-- end of .qualifation-list -->
        <div class="qualifation-event">
            <button mat-icon-button [disabled]="qualificationExist || notSelected" (click)="selectQualification()">
                <fa-icon [icon]="faPlus" size="lg"></fa-icon>
            </button>
            <small>(add new qualification)</small>
        </div>
        <!-- end of .qualifation-event -->
        <div class="selector" formGroupName="selector" fxLayout="row">
            <select formControlName="id">
                <option value="">Select Qualification</option>
                <option *ngFor="let qualification of qualifications" [value]="qualification.id">
                    {{qualification.name}}
                </option>
            </select>
        </div>
        <!-- end of .selector -->
     </form>
     
</div>
<!-- end of .qualifation-form -->